body {
  background: linear-gradient(180deg, #10002b, #240046) no-repeat;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
}

/* .hero-background {
  background: url('path_to_starry_background_image') center center / cover no-repeat;
  position: relative;
} */

/* .hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(32,28,63,0.7) 0%, rgba(8,6,23,0.9) 100%);
} */
.logo {
  width: 150px; /* Adjust size as needed */
  height: auto;
}



